body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#mainmenu{
    margin: 0; padding: 0;
    height: 50px;
    background-color: black;
    font-variant: small-caps;
}
#mainmenu.admin{
    background-color: maroon; color: white;
    /*To je jen kvůli barvě hlavního menu pro admina*/
}
#mainmenu ul{
    margin: 0 auto 0 auto;
    padding: 0;
    width: 1000px;
    height: 50px;
    display: block;
}
#mainmenu ul li{
    list-style-type: none;
    display: inline-block;
    max-height: 50px;
}
#mainmenu ul li a, #mainmenu ul li ul{
    margin: 0;
    display: inline-block;
    width: 150px; height: 48px;
    background-color: black; color: white;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    border-bottom: 2px solid black;
}
#mainmenu ul li a:hover{
    background-color: white; color: black; 
}

#mainmenu ul li ul{
    display: none;
}
#mainmenu ul li:hover ul{
    display: block;
    position: absolute;
}

#content{
    margin: 0 auto 0 auto;
    width: 1000px;
}

table{
    border-collapse: collapse;
}
th{
    padding: 5px;
    border-bottom: 3px double black;
}
tr{
    border-bottom: 1px solid black;
}
td{
    padding: 10px;
    text-align: left;
}

.form tr{
    border: none;
}

@media (max-width : 1000px)
{
 #content{
     margin-top: 20px;
     width: 95vw;
 }
 #mainmenu{
     height: auto;
 }
 #mainmenu ul{
     width: 95vw;
 }
 #mainmenu ul li a, #mainmenu ul li a:hover{
    list-style-type: none;
    display: block;
    background-color: black;
    width: 95vw;
 }
 #mainmenu ul li ul, #mainmenu ul li ul:hover{
     display: block;
     background-color: black;
 }
 #mainmenu ul li ul li a, #mainmenu ul li ul a:hover{
     background-color: silver;
 }
   
}
