/*BODY AND MAIN MENU*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: snow;
}
#mainmenu{
    margin: 0; padding: 0;
    height: 50px;
    background-color: lightseagreen;
    font-variant: small-caps;
}
#mainmenu.admin{
    background-color: skyblue; color: white;
    /*To je jen kvůli barvě hlavního menu pro admina*/
}
#mainmenu ul{
    margin: 0 auto 0 auto;
    padding: 0;
    width: 1000px;
    height: 50px;
    display: block;
    list-style-type: none;
}
#mainmenu ul li{
    display: inline-block;
    max-height: 50px;
}
#mainmenu ul li a, #mainmenu ul li ul{
    margin: 0;
    display: inline-block;
    width: 150px; 
    height: 50px;
    background-color: lightseagreen; color: white;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
}
#mainmenu.admin ul li a, #mainmenu.admin ul li ul{
    background-color: skyblue; color: white;
}
#mainmenu ul li a:hover{
    background-color: white; 
    color: black; 
}

#mainmenu ul li ul{
    display: none;
}
#mainmenu ul li:hover ul{
    display: block;
    position: absolute;
}
#mainmenu ul li ul li a{
    box-shadow: 0px 1px 1px black;
}
/*CONTENT AND FOOTER*/
#content{
    margin: 0 auto 0 auto;
    width: 1000px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px black;
}
#footer{
    clear: both;
    display: block;
    margin: 50px -25px -25px -25px; 
    padding: 0 25px 0 25px;
    height: 40px;
    line-height: 40px;
    width: 1000px;
    background-color: lightseagreen;
    font-variant: small-caps;
}

/*FORMS*/
form p{
    font-weight: bold;
    color: mediumturquoise;
}

/*TABLES*/
table{
    border-collapse: collapse;
    width: 100%;
}
table.form{
    width: auto;
}
th{
    padding: 10px;
    border-bottom: 3px double black;
    background-color: lightseagreen;
    color: white;
}
tr{
    border-bottom: 1px solid black;
}
tr:hover{
    background-color: mediumturquoise;
}
td{
    padding: 10px;
    text-align: left;
}

.form tr{
    border: none;
}
.form tr:hover{
    background-color: white;
}

/*RESPONSIVE*/
@media (max-width : 1000px)
{
 #content{
     margin-top: 220px;
     width: 95vw;
 }
 #footer{
     width: 95vw;
 }
 #mainmenu{
     height: 0;
 }
 #mainmenu ul{
     width: 95vw;
 }
 #mainmenu ul li a, #mainmenu ul li a:hover{
    list-style-type: none;
    display: block;
    background-color: lightseagreen;
    width: 95vw;
 }
 #mainmenu ul li ul{
     visibility: hidden;
     opacity: 0;
 }
 #mainmenu ul li:hover ul{
     display: block;
     visibility: visible;
     background-color: lightseagreen;
     transition-delay: 2s;
     transition-duration: 2s;
     opacity: 1;
 }
 #mainmenu ul li ul li a, #mainmenu ul li ul a:hover{
     background-color: silver;
 }
   
}
